<footer class="py-5 bg-dark">
    <div class="container">
    <p class="m-0 text-center text-white">
        فروشگاه اینترنتی من  در سال 1403 کار خود را در زمینه انواع لباس ورزشی مردانه و زنانه و همچنین لوازم و تجهیزات ورزشی، با تمرکز بیشتر بر رشته‌های ورزشی فیتنس و بدنسازی شروع کرد. 
         تمرکز ما بر جلب رضایت مشتریان و پشتیبانی قوی از آن‌ها خواهد بود  و در این راستا همواره سعی می نماییم تا بر تنوع کالایی افزوده و کیفیت کارها را اولویت اصلی خودمان قرار دهیم. 
         با رشد روزافزون خرید اینترنتی، تلاش می کنیم تمامی چالش‌های خرید آنلاین را برای مشتریان عزیزمان برطرف سازیم تا با جلب اعتماد مشتریان و صداقت، برند خود را متمایز سازیم. . 
         امیدواریم بتوانیم در کیفیت و سرعت خدمات رضایت شما مشتریان عزیز را فراهم کنیم و گامی در راستای ایجاد رویکردی جدید در ورزش به خصوص فیتنس و بدنسازی برداریم
    </p>
    <br><br>
    <p class="m-0 text-center text-white">ساخته شده با جنگو </p>
</div>
</footer>